<a href="https://colab.research.google.com/github/evelyntecinternet/Aula_Phyton_Tarde_Senac/blob/main/Tudo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Forca**

In [ ]:
# Forca
import random # import random foi usado para gerar uma seleção aleatória de palavras a partir de uma lista pré-definida de palavras

def escolher_palavra(): # def é usado para definir funções
    palavras = ["python", "satoru", "internet", "seinen", "social"]
    return random.choice(palavras)# a função random.choice()  escolhe aleatoriamente uma palavra da lista de palavras disponíveis

def exibir_palavra(palavra, letras_corretas):
    exibicao = ""
    for letra in palavra:
        if letra in letras_corretas:
            exibicao += letra
        else:
            exibicao += "_"
    return exibicao # return em Python é usada dentro de uma função para retornar um valor ao chamador da função

def jogar_forca():
    palavra_secreta = escolher_palavra()
    letras_corretas = []
    tentativas = 6  # Número máximo de tentativas

    print("Bem-vindo ao Jogo da Forca!")
    print(exibir_palavra(palavra_secreta, letras_corretas))

    while tentativas > 0: # while em Python é usada para criar loops,que executam repetidamente um bloco de código enquanto uma condição especificada for verdadeira.
        palpite = input("Digite uma letra: ").lower() # .lower() foi usado para converter todas as letras do palpite do jogador para minúsculas.

        if palpite in letras_corretas:
            print("Você já tentou essa letra. Tente novamente.")

        elif palpite in palavra_secreta:
            letras_corretas.append(palpite)# .append() para adicionar as letras erradas que o jogador tenta ao longo do jogo  a uma lista que armazena essas letras.
            print("Letra correta!")

        else:
            tentativas -= 1
            print(f"Letra incorreta! Tentativas restantes: {tentativas}")
# f" antes das aspas em uma string indica que esta é uma string de formatação (format string). As strings de formatação permitem que você insira variáveis e expressões diretamente dentro de uma string

        print(exibir_palavra(palavra_secreta, letras_corretas))

        if "_" not in exibir_palavra(palavra_secreta, letras_corretas):
            print("Parabéns! Você ganhou!")
            break # break é usado para sair de um loop prematuramente assim que uma condição específica for atendida, tornando o código mais eficiente e legível.

    if tentativas == 0:
        print(f"Fim de jogo! A palavra era '{palavra_secreta}'. Tente novamente.")

# Chame a função para iniciar o jogo
jogar_forca()

# **Ordem crescente**

In [ ]:
# Exercício 31

# Ler três valores inteiros distintos
n1 = int(input("Digite o primeiro número: "))
n2 = int(input("Digite o segundo número: "))
n3 = int(input("Digite o terceiro número: "))

# Encontrar o menor número
menor = min(n1, n2, n3)

# Encontrar o maior número
maior = max(n1, n2, n3)

# Encontrar o número do meio
meio = (n1 + n2 + n3) - menor - maior

# Escrever os números em ordem crescente
print("Os números em ordem crescente são:", menor, meio, maior)

# **Posição & letra por letra**

In [ ]:
saudacao = "Hello Word!"
print ("saudacao")
print(saudacao)
                              #pode pegar cada carcter na str
print(saudacao[0])
print(saudacao[6])
print(saudacao[0:5])
print(saudacao[6::])
print(saudacao[0], saudacao[1])#imprimir com espaço
print(saudacao[0] + saudacao[1]) #contatenou = Juntou
print(saudacao[0], "-",saudacao[1], "_",saudacao[2])
print("Inicio do for")
for x in saudacao:
  print(x)

print("End!!")

# **Matemática_Operações**

In [ ]:
print("A soma é:", 5+3)
print("A divisão é:",5/3)
print("A multiplicação é:",5*3)
print("A subtração é:",5-3)

In [ ]:
soma = 5+3
subtracao = 5-3
multiplicacao = 5*3
divisao = 5/3
print("A soma é:", soma)
print("O tipo de dado da soma é:",type(soma))
print("A divisão é:",divisao)
print("O tipo de dado da divisao é:",type(divisao))
print("A multiplicação é:",multiplicacao)
print("O tipo de dado da multiplicação é:",type(multiplicacao))
print("A subtração é:",subtracao)
print("O tipo de dado da subtração é:",type(subtracao))#saber o tipo da váriavel

In [ ]:
# exercício 1
n1 = 34 # @param {type:"integer"}
n2 = 66 # @param {type:"integer"} variável da célula de baixo
print(n1 + n2)

In [ ]:
# Exercício 2
print("Soma: ",n1 + n2)   #tem como reutilizar a variavel mesmo em outras células
print("Divisão: ",n1 / n2) #precisa executar a celula da variavel apra as outras funcionarem
print("Subtração: ",n1 - n2)
print("multiplicação: ",n1 * n2)

In [ ]:
# exercício 3
km = 164 #distãncia
gs = 40 #gasolina #combustivel gasto
divi = km/gs # <--- para descobrir o consumo médio
#consnumo médio = distaciaPercorrida/ combustivelGasto
print("O consumo médio é: ",divi)

In [ ]:
# exercício 4
nome_vendedor = input("Digite o nome do vendedor: ")
salario_fixo = int(input("Digite o valor do sálario fixo: "))
vendas = 2300 # @param {type:"integer"}
sl_final = salario_fixo + (vendas * 0.15)
print("nome: ",nome_vendedor)
print(salario_fixo)
print(sl_final)

In [ ]:
# exercício 5
# média do aluno
nome_aluno = input("Digite o nome do aluno: ")
nota1 = float (input("Digite a nota do aluno: "))
nota2 = float (input("Digite a nota do aluno: "))
nota3 = float (input("Digite a nota do aluno: "))
print("o aluno é: ",nome_aluno)
print("Obteve a média: ",(nota1 + nota2 + nota3)/3)
#nome_aluno = "Camilla" # @param {type:"string"}
#print(nome_aluno)
#mat = 6
#port = 4
#geo = 0
#media = mat + geo + port / 3
#print("A sua média é: ",media)

In [ ]:
# exercício 7
c = float(input("Digite a temperatura: "))
print("Os graus Celsius é: ",c)
f = (9*c + 160)/5
print("Os graus Celsius convertidos em Fahrenheit é: ",f)

In [ ]:
# exercício 8
cotacao = 4.92

qtdDollar = 25 # quantidade de dollar

print("Você tem: R$ ",qtdDollar * cotacao)
#cotacao_dollar = 4.96 # @param {type:"number"}
#dollar = 2000 # @param {type:"number"}
#print("O valor da cotação é: ",cotacao_dollar)
#print( "O valor é: ",dollar)
#real = dollar / cotacao_dollar
#print("Em real será: ",real)

In [ ]:
# exercício 9
va_depo = float(input("Digite o valor depositado"))  #va_depo = Valor depositado   #mult o valor pelo 0,70(juros) * o tempo
print("o valor com rendimento após um mês foi de: ",va_depo + (va_depo * 0.007))
poupanca = va_depo * 0.70 * 1 #juros 70%
print("O valor guardado até agora é: ",poupanca)

In [ ]:
# exercício 10
compra_v = float(input("Digite o valor da compra: "))
print("O valor das prestações é de 5 parcelas de : ","R$",compra_v / 5)

In [ ]:
# exercício 11
preco_custo = float(input("Digite o valor de custo do produto: "))
percentual = float(input("Digite o percentual: "))
print(preco_custo + preco_custo * (percentual / 100))

In [ ]:
# exercício 12
custo_f = 20.567 # @param {type:"number"}
# 45% impostos  + custo_f  + 28% distribuidor
carro = 45/100 + custo_f + 28/100
print("O valor do carro é:","R$",carro)

In [ ]:
# Exercício 30
salario = 1721 # @param {type:"number"} # váriavel para receber o salário do funcionário
idade = 34 # @param {type:"number"}
nome = input("Digite o seu nome: ")
print("Idade:",idade)
sexo = input("Digite o seu sexo: ")
print("o seu salário é:","R$",salario)
sl = salario - 158 # 158 de desconto
print("O seu salário liquido é:","R$",sl)# sl <-- salário liquido

# **Trocar os valores das Varíaveis**

In [ ]:
#  exercício 6: Valores trocados
a = 20
b = 32
print(a)
print(b)
temp = a
a = b
b = temp
print("-------")
print(a)
print(b)
#a = int(input('Insira o primeiro valor: '))
#b = int(input('Insira o segundo valor: '))
#c = a
#a = b
#b = c
#print("Valor de A: ",a,"E valor de B: ",b)

# **.Teste**

In [ ]:
nome = "evelyn Oliveira"
print(nome)
print(nome.capitalize()) #primeira letra maiscula
print(nome.upper())#tudo maisculo
print(nome.casefold()) #tudo minusculo
print(nome.find("i"))# achar posição da letra
print(nome.replace("e","&"))#troca a letra correspondente pela do lado
print(nome.count("i"))#contar a quantidade da mesma letra

# **Adicionar informações e pedir informações**

In [ ]:
nome_completo = "Evelyn Alves Da Cruz Oliveira" # @param {type:"string"} # Add new form field <-- Insert
data_nascimento = "2006-08-23" # @param {type:"date"}
print(nome_completo)
nome = input("Digite o seu nome : ")
print(nome)
print(data_nascimento)

In [ ]:
nome = input("Digite o seu nome : ")
print("o nome é: ",nome)

idade = input("Digite a sua idade : ")
print("A idade é: ",idade)

# **IF & For**

In [ ]:
nome = "Ana" # @param {type:"string"}
idade = 12 # @param {type:"integer"}

if idade >= 18 :
  print("MAIOR")
else:
  print("menor")

menor

In [ ]:
#for

for x in range(15,25):
  print(x) # vai do 15 ao 24

In [ ]:
# Exercício 19

# Inicializar contadores
total_homens = 0
total_mulheres = 0

# Loop para ler os dados de 56 pessoas
for _ in range(56): # _ <-- valor da váriavel não é relevante para o loop
    # Ler o nome e o sexo da pessoa
    nome = input("Digite o nome da pessoa: ")
    sexo = input("Digite o sexo da pessoa (M para masculino, F para feminino): ")

    # Verificar o sexo e incrementar o contador apropriado
    if sexo.upper() == "M": # irá fazer a letra ficar maiscula,evitando erros
        print(f"{nome} é homem.")
        total_homens += 1
    elif sexo.upper() == "F": # irá fazer a letra ficar maiscula,evitando erros
        print(f"{nome} é mulher.")
        total_mulheres += 1 #total_mulheres += 1 aumenta o valor de total_mulheres em 1 a cada vez que é executado.
    else:
        print("Sexo inválido. Por favor, digite 'M' para masculino ou 'F' para feminino.")

# Exibir total de homens e mulheres
print(f"Total de homens: {total_homens}")
print(f"Total de mulheres: {total_mulheres}")

In [ ]:
# If
nome ="Joe"
if nome == "Jose" or nome == "Maria" or nome == "Pedro":
  print("Igual")
else:
  print("Não é igual")

In [ ]:
# exercício 14
n1 = int(input("Digite um número: ")) # peça ao usuário um número
n2 = int(input("Digite um número: "))

if n1 >  n2: #use if e else para verificar se é maior ou menor do que o outro
 print("é maior")
else:
  print("é menor")

In [ ]:
#exercício 15
numero = int(input("Digite o número : ")) # int transforma o número em inteiro

#testar o numero se esta entre 100 e 200 ( >100 e <200)  e AND

if numero > 100 and numero < 200:
  print("O numero esta entre 100 e 200")
else:
  print("O numero não está entre 100 e 200")

In [ ]:
# exercício 16
nome = input("Digite o seu nome : ")
nota_1 = 1       #somar tudo e dividir pela quantidade e usar if e else
nota_2 = 2
nota_3 = 7
soma = nota_1 + nota_2 + nota_3 / 3
print("A média é: ",soma)
if soma > 7 and soma < 5:
  print("Aprovado!")
elif soma >= 7.9 and soma < 5.1:
  print("Recuperação!")  #tem que ser colocado no meio Ela é usada em uma estrutura condicional para testar múltiplas condições em sequência, evitando a necessidade de encadear vários blocos if e else consecutivos.
else :
  print("Reprovado!")

In [ ]:
# exercício 17
contador_intervalo = 0

# Faça um loop para ler 80 números
for _ in range(80):
    # Solicite a entrada do usuário e converta para inteiro
    numero = int(input("Digite um número: "))

    # Verifique se o número está no intervalo desejado
    if 10 <= numero <= 150:
        contador_intervalo += 1

# Imprima o resultado
print(f"Quantidade de números no intervalo entre 10 e 150 (inclusive): {contador_intervalo}")
#Neste exemplo, o código solicita ao usuário que digite 80 números, verifica se cada

In [ ]:
# exercício 18
for i in range (75): # for para a idade de 75 pessoas
#solicita o usuário que insira a idade
  idade = int(input(f"Digite a idade da {i + 1}ª pessoa: "))
if idade >= 18:
  print("Maior de idade")
else:
  print("Menor de idade")

In [ ]:
# exercício 23
N = 81 # váriavel para receber um número
if N > 80: # maior que 80
   print("Maior!")
elif N < 25: # menor que 25
   print("Menor!")
elif N == 40: # igual a 40
   print("Igual!")

# **Lista/Planilha**

In [ ]:
lista_nomes = ["Ana","Pedro","Thiago","Joaõ","Maria"]
nome ="Jose"

if nome in [ "Maria", "Felipe", "Jose"]:
  print("Igual")
else:
  print("Não é igual")

In [ ]:
frutas = ["maça","pera","mamão"]
print(frutas)

frutas.append("banana") # Adiciona um elemento
print(frutas)

frutas.append("banana")
print(frutas)

frutas.pop() # apaga o último elemento
print(frutas)

frutas.sort() # organiza em ordem alfabética
print(frutas)

for x in frutas:
  print(x)

In [ ]:
# Tabela Excel
frutas = ["maça","pera","uva","banana"]
n=0
for x in frutas:
  print(f"ws['A{n + 1}'] = '{x}'")
  n+=1

In [ ]:
# prompt: create planilha excel

from openpyxl import Workbook
from openpyxl.styles import Font

wb = Workbook()
ws = wb.active

ws['A1'] = 'Nome'
ws['B1'] = 'Produto'
ws['C1'] = 'Preço'
ws['A2'] = 'Jose'
ws['B2'] = 'Celular'
ws['C2'] = 1000
ws['A3'] = 'Maria'
ws['B3'] = 'Celular'
ws['C3'] = 980
ws['B5'] = "Total"
ws['C5']=  sum([ws['C2'].value,ws['C3'].value])
ws['C6'] = min([ws['C2'].value,ws['C3'].value])
n1 = ws['C2'].value
n2 = ws['C3'].value
ws['C10'] = n1/n2


wb.save('my_excel_file.xlsx')

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

planilha1 = '/content/sample_data/vendas1.xlsx'
planilha2 = '/content/sample_data/vendas2.xlsx'
planilha3 = '/content/sample_data/vendas3.xlsx'

plan1 = pd.read_excel(planilha1)
#(planilha1, sheet_name='NomePlanilha') para buscar uma planilha especifica dentro de uma past
plan2 = pd.read_excel(planilha2)
plan3 = pd.read_excel(planilha3)

#print(plan1)

juntandoTudo = pd.concat([plan1,plan2,plan3])


print(juntandoTudo)
print(juntandoTudo["PRODUTOS"])

totalDeVendas = juntandoTudo.groupby(['VENDEDOR']).sum()

print(totalDeVendas['PREÇO'])
print(totalDeVendas.plot(kind='bar'))
totalDeVendas.to_excel('novaPlanilha.xlsx')

# **Match & Case**

In [ ]:
dia = 1
match dia: #match e o nome da váriavel
  case 1:
     print("Domingo")
  case 2:
     print("Segunda")
  case 3:
     print("Terça")
  case _:
     print("Outro dia")

'''
dia = "Segunda"
match dia:
  case "Domingo":
     print("1")
  case "Segunda":
     print("2")
  case "Terça":
     print("3")
  case _:
     print("Outro dia")
'''

In [ ]:
# Exercício 29
m = 8 # m <-- mês correspondente
match m:
  case 1:
    print("Janeiro")
  case 2:
    print("Fevereiro")
  case 3:
    print("Março")
  case 4:
    print("Abril")
  case 5:
    print("Maio")
  case 6:
    print("Junho")
  case 7:
    print("Julho")
  case 8:
    print("Agosto")
  case 9:
    print("Setembro")
  case 10:
    print("Outubro")
  case 11:
    print("Novembro")
  case 12:
    print("Dezembro")
  case _:
    print("Mês inválido!")

In [ ]:
#exercício 26
n = int(input("Digite um número de 1 a 5: ")) # para transformar a str em int,para ler
match n:
  case 1:
    print("Um")
  case 2:
      print("Dois")
  case 3:
      print("Três")
  case 4:
      print("Quatro")
  case 5:
      print("Cinco")
  case _:
    print("Número inválido")

# **BeautifulSoap_Find**

In [ ]:
from bs4 import BeautifulSoup
import requests
url ="https://mundoeducacao.uol.com.br/geografia/estados-brasil.htm"
page = requests.get(url)
#print(page)
soup = BeautifulSoup(page.text,"html")
#meta = soup.find_all('meta')
#for x in meta:
#print(x)
#buscou o titulo dento da progrmação do site
titulo = soup.find('title')
#test = soup.find('td')
print(titulo)
#print(test)

In [ ]:
from bs4 import BeautifulSoup
import requests
url = "https://valorinveste.globo.com/cotacoes/dolar/"
page = requests.get(url)
soup = BeautifulSoup(page.text,"html")
valor = soup.find( 'span',class_="tabela-data__ticker__lastQuote")
hora = soup.find('span',class_="last-update-time")
print(valor) # soup mostra o site todo/se não mostrar troque de site
print(hora)
#for x in valor:
  #print(x) vai colocar todos embaixo um do outro

In [ ]:
from bs4 import BeautifulSoup
import requests
url = "https://www.scrapethissite.com/pages/forms/"
page = requests.get(url)
soup = BeautifulSoup(page.text,"html")
tabela = soup.find('td', class_='nome')

#ano = soup.find_all('td',class_='year')
#print(ano)
#v = soup.find_all('td', class_='wins')
#print(v)
#l = soup.find_all('td',class_='losses')
#print(l)

In [ ]:
from bs4 import BeautifulSoup
import requests
url = "https://www.scrapethissite.com/pages/forms/"
page = requests.get(url)
soup = BeautifulSoup(page.text,"html")
tabela = soup.find('table')
print(tabela)

f

# **Análize**

In [ ]:
# desenvolva um código para testar se um e-mail digitado é válido
email1=input("Digite o seu email: ")
email2 = input("Digite o seu email novamente: ")
if email1 == email2 :
  print("Cadastrado")
else:
  print("Tente novamente,o email está incorreto")

In [ ]:
# exercício 31

# Ler os três valores inteiros
a = int(input("Digite o comprimento do lado 1: "))
b = int(input("Digite o comprimento do lado 2: "))
c = int(input("Digite o comprimento do lado 3: "))

# Verificar se os valores podem formar um triângulo
if a < b + c and b < a + c and c < a + b:
    # Verificar o tipo de triângulo
    if a == b == c:
        print("Os lados formam um triângulo equilátero.")
    elif a == b or a == c or b == c:
        print("Os lados formam um triângulo isóscele.")
    else:
        print("Os lados formam um triângulo escaleno.")
else:
    print("Os lados não podem formar um triângulo.")